<div class="products-page">
    <div class="products-container">
        <h1 class="products-heading">Our Premium Products</h1>
        <div class="products-list">
            
            <div class="product-tile">
                <img src="../../assets/images/HimalayanHoney.webp" alt="" class="image">
                <h3>Himalayan Honey - 250g</h3>
                <p>₹ 355.00</p>
            </div>

            <div class="product-tile">
                <img src="../../assets/images/jamunHoney.webp" alt="" class="image">
                <h3>Jamun Honey - 250g</h3>
                <p>₹ 499.00</p>
            </div>

            <div class="product-tile">
                <img src="../../assets/images/local-honey.webp" alt="" class="image">
                <h3>Local Forest Honey - 250g</h3>
                <p>₹ 700.00</p>
            </div>

            <div class="product-tile">
                <img src="../../assets/images/tropical-blossom.webp" alt="" class="image">
                <h3>Tropical Blossom Honey - 250g</h3>
                <p>₹ 400.00</p>
            </div>

            <div class="product-tile">
                <img src="../../assets/images/wild-honey.webp" alt="" class="image">
                <h3>Himalayan Wild Honey - 250g</h3>
                <p>₹ 899.00</p>
            </div>

        </div>
    </div>
</div>